nav.navDesktop {
  height: 60px;
  font-size: 20px;
  border-bottom: 3px solid #5C2FFE;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 15px rgba(34, 34, 34, 0.329);
  
  div.navWrap {
    display: flex;
    max-width: 1180px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

    img.logo_main {
      display: block;
      height: 100%;
    }

    div.links {
    display: flex;

      .link {
        text-decoration: none;
        color: black;
        line-height: 60px;
        transition: .2s;
        font-weight: 600;
        margin: 0 20px;

        &:hover {
          color: #5C2FFE;
        }
      }
    }
  }
}
